@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: var(--time-icon-filter, none);
}
